.namepage3{
  color: #839192;
  font-weight: bold;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
.editer3{

  background-color: #34495E;
  color: #FFFFFF;
  margin-left:15px;
}
.editer3:hover{
  color: #839192;
}
.deleter3{
  background-color: #EC7063;
  color: #ECF0F1 ;
  margin-left: 15px;
}
.deleter3:hover{
  color: #641E16;
}

