.namepage{
  color: #839192;
  font-weight: bold;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
.editer{

  background-color: #34495E;
  color: #FFFFFF;
  margin-left:15px;
}
.medicine-btn__view {
  margin-left:15px;
}
.editer:hover{
  color: #839192;
}
.deleter{
  background-color: #EC7063;
  color: #ECF0F1 ;
  margin-left: 15px;
}
.deleter:hover{
  color: #641E16;
}
.margin-left-15 {
  margin-left: 15px;
}
